<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.sw2017.xp4.hobit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HobIT_Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".FacebookLogin"
            android:label="activity_facebook_login"
            android:parentActivityName=".HobIT_Main" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".GroupCreation"
            android:label="@string/groubCreation" />
        <activity
            android:name=".ListHobbyGroups"
            android:label="@string/list_hobby_groups" />
        <activity android:name=".GroupOverview"
            android:parentActivityName=".HobIT_Main" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/activity_edit_profile_name"
            android:parentActivityName=".HobIT_Main" />
        <activity android:name=".EditProfileHobbiesActivity" />

        <activity
            android:name=".RegisterUser"
            android:label="Register"
            android:parentActivityName=".FacebookLogin">
        </activity>
    </application>

</manifest>